<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects - Vladimir Dzhobirov</title>
    <link rel="stylesheet" href="../styles/projects.css">
</head>
<body>
    <div class="projects-container">
        <nav>
            <a href="../index.html">Home</a>
            <a href="projects.html">Projects</a>
            <a href="resume.html">Resume</a>
            <!-- not used -->
            <a href="skills.html">Skills</a>
        </nav>
        <h1>Projects</h1>
        <div class="projects-grid">
            <div class="project-card">
                <a href="https://github.com/Shadowpat42/flask-project" target="_blank">
                    <img src="../images/flask_photo.jpg" alt="Project Image">
                    <h2>VibeSocial</h2>
                    <p>Проект на фреймворке Flask, представляющий собой социальную платформу!</p>
                </a>
            </div>
            <div class="project-card">
                <a href="https://github.com/Shadowpat42/digital-portfolio" target="_blank">
                    <img src="../images/portfolio_photo.jpg" alt="Project Image">
                    <h2>Digital portfolio: bright.kind.website</h2>
                    <p>Сайт, представляющий собой личное портфолио заказчика!</p>
                </a>
            </div>
            <div class="project-card">
                <a href="https://github.com/Shadowpat42/Dark_Throne-Freezing_Hopes" target="_blank">
                    <img src="../images/freezing_hopes.jpg" alt="Project Image">
                    <h2>RenPy: Freezing hopes!</h2>
                    <p>Визуальная новелла, погружающая пользователя в жизнь обычного абитуриента!</p>
                </a>
            </div>
            <!-- Add more projects as needed :)-->
        </div>
    </div>
</body>
</html>
