<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects - Vladimir Dzhobirov</title>
    <link rel="stylesheet" href="../styles/projects.css">
</head>
<body>
    <div class="projects-container">
        <nav>
            <a href="../index.html">Home</a>
            <a href="projects.html">Projects</a>
            <a href="resume.html">Resume</a>
            <a href="contact.html">Contact</a>
        </nav>
        <h1>Projects</h1>
        <div class="projects-grid">
            <div class="project-card">
                <a href="https://github.com/Shadowpat42/FrontierOfHell" target="_blank">
                    <img src="../images/placeholder.png" alt="Project Image">
                    <h2>Frontier of Hell</h2>
                    <p>Frontier of Hell is a tower defense game that requires players to protect the base from enemy attacks at each stage.</p>
                </a>
            </div>
            <div class="project-card">
                <a href="https://github.com/Shadowpat42/KitchenCounts" target="_blank">
                    <img src="../images/placeholder.png" alt="Project Image">
                    <h2>Kitchen Counts</h2>
                    <p>Stock management app for kitchen.</p>
                </a>
            </div>
            <div class="project-card">
                <a href="https://github.com/Shadowpat42/NekoyaApp" target="_blank">
                    <img src="../images/placeholder.png" alt="Project Image">
                    <h2>Nekoya App</h2>
                    <p>Native application for Nekoya ~.</p>
                </a>
            </div>
            <!-- Add more projects as needed -->
        </div>
    </div>
</body>
</html>
