<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Резюме - Владимир</title>
    <link rel="stylesheet" href="../styles/resume.css">
</head>
<body>
<div class="resume-container">
    <nav>
        <a href="../index.html">Home</a>
        <a href="projects.html">Projects</a>
        <a href="resume.html">Resume</a>
        <a href="contact.html">Contact</a>
    </nav>
    <h1 style="color: black;">Vladimir Dzhobirov</h1>
    <div class="contact-info">
        <p>Email: <a href="mailto:shadowpat@rambler.ru">shadowpat@rambler.ru</a></p>
        <p>Телефон: +7 900 048 4823</p>
        <p>GitHub: <a href="https://github.com/Shadowpat42" target="_blank">github.com/Shadowpat42</a></p>
        <p>Город: Екатеринбург, Россия</p>
    </div>

    <div class="section">
        <h2>Образование</h2>
        <ul>
            <li>
                <span>Уральский Федеральный Университет (УрФУ)</span><br>
                Бакалавр, Информатика и вычислительная техника<br>
                2023 - 2027
            </li>
        </ul>
    </div>

    <div class="section">
        <h2>Навыки</h2>
        <ul>
            <li>Языки программирования: Python, C#</li>
            <li>Веб-технологии: HTML, CSS</li>
            <li>Фреймворки: Flask, Django</li>
            <li>Базы данных: MySQL, SQLite</li>
            <li>Инструменты: Git, Docker</li>
        </ul>
    </div>

    <div class="section">
        <h2>Опыт работы</h2>
        <p>Пока что нет опыта работы.</p>
    </div>

    <div class="section">
        <h2>Обо мне</h2>
        <p>Мне 18 лет, я студент Университета Уральский Федеральный Университет (УрФУ). Являюсь бекенд разработчиком,
            имею опыт работы с различными языками программирования и фреймворками. Люблю решать сложные задачи и
            постоянно стремлюсь к профессиональному развитию.</p>
    </div>

    <div class="section">
        <h2>Проекты</h2>
        <ul>
            <li>
                <span>Проект 1</span><br>
                Описание проекта 1. Что было сделано, какие технологии использованы.
            </li>
            <li>
                <span>Проект 2</span><br>
                Описание проекта 2. Что было сделано, какие технологии использованы.
            </li>
        </ul>
    </div>
</div>
</body>
</html>
