body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.resume-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #4dc190;
}

h1 {
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #4dc190;
    padding-bottom: 5px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

.section ul li span {
    font-weight: bold;
    display: block;
}

.section ul li {
    padding: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 10px;
}

.section p {
    text-align: justify;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

nav a {
    border-bottom: none; /* Убираем нижнюю границу у ссылок */
}
